@font-face {
  font-family: "icon"; /* Project id 2777765 */
  src: url("//at.alicdn.com/t/font_2777765_41tg4582dcj.woff2?t=1630480735297")
      format("woff2"),
    url("//at.alicdn.com/t/font_2777765_41tg4582dcj.woff?t=1630480735297")
      format("woff"),
    url("//at.alicdn.com/t/font_2777765_41tg4582dcj.ttf?t=1630480735297")
      format("truetype");
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weidenglutouxiang:before {
  content: "\e62b";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-lishi:before {
  content: "\e606";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-suo:before {
  content: "\e605";
}
