@font-face {
  font-family: "icon"; /* Project id 2777765 */
  src: url("//at.alicdn.com/t/font_2777765_wrhb4vc19qd.woff2?t=1630467432079")
      format("woff2"),
    url("//at.alicdn.com/t/font_2777765_wrhb4vc19qd.woff?t=1630467432079")
      format("woff"),
    url("//at.alicdn.com/t/font_2777765_wrhb4vc19qd.ttf?t=1630467432079")
      format("truetype");
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-lishi:before {
  content: "\e606";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-suo:before {
  content: "\e605";
}
